@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
	Hello all worlds, from Windows Azure Web Sites!
</h2>
<p>
	Each of the links below provide a welcome message, each in a different programming language or framework. All of these frameworks are supported natively on Windows Azure Web Sites.
</p>
<ul>
    <li><a target="_blank" href="/hello.html">Static HTML</a></li>
    <li><a target="_blank" href="/hello.asp">Classic ASP</a></li>
    <li><a target="_blank" href="/hello.aspx">ASP.NET</a></li>
    <li><a target="_blank" href="/hello.cshtml">Razor</a></li>
    <li><a target="_blank" href="/hello.js">Node.js</a></li>
    <li><a target="_blank" href="/hello.php">PHP</a></li>
    <li><a target="_blank" href="/hello.py">Python</a></li>
</ul>